= form_for(@participation) do |f|
    %ul
        - @participation.errors.full_messages.each do |error|
            %li= error
    .form-group
        = f.label :tournament
        %br/
        = @tournament.name
        = f.hidden_field :tournament, :value => @tournament.id, :readonly => true
    .form-group
        = f.label :game
        %br/
        = @game.title
        = f.hidden_field :game, :value => @game.id, :readonly => true
    .form-group
        = f.label :user
        %br/
        = @user.email
        = f.hidden_field :user, :value => @user.id, :readonly => true
    .form-group
        = f.submit