%h3
  = @user.username

= link_to "edit", edit_user_path(@user)
= link_to "delete", user_path(@user), method: :delete, data: {confirm: "Really delete the user?"}

.container
  .row
    - if @user.avatar.exists?
      = image_tag @user.avatar.url
  .row
    = @user.street + " " + @user.city + " " + @user.state + " " + @user.country
  .row
    List of tournaments
    - @user.tournaments.uniq.each do |t|
      = link_to t.name, tournament_path(t)
  .row
    List of games
    - @user.games.uniq.each do |g|
      = link_to g.title, game_path(g)

= link_to "Back to users List", users_path
