%h3
  = @tournament.name

= link_to "edit", edit_tournament_path(@tournament)
= link_to "delete", tournament_path(@tournament), method: :delete, data: {confirm: "Really delete the tournament?"}

.container
  .row
    - if @tournament.poster.exists?
      = image_tag @tournament.poster.url
  .row
    = @tournament.description
  .row
    = @tournament.street + " " + @tournament.city + " " + @tournament.state + " " + @tournament.country

  .row
    List of games :
    - @tournament.games.each do |game|
      = link_to game.title, game_path(game)

= link_to "Back to Tournaments List", tournaments_path
