%h3
  = @tournament.name
- if can? :manage, Tournament
  = link_to "edit", edit_tournament_path(@tournament)
  = link_to "delete", tournament_path(@tournament), method: :delete, data: {confirm: "Really delete the tournament?"}
  - if @has_been_simulated
    = link_to "simulate", tournament_simulate_path(@tournament), remote: true, id: "btn-simulate"

.container
  .row
    - if @tournament.poster.exists?
      = image_tag @tournament.poster.url
  .row
    = @tournament.description
  .row
    = @tournament.street + " " + @tournament.city + " " + @tournament.state + " " + @tournament.country

  .row
    List of games :
    - @tournament.games.each do |game|
      = link_to game.title, game_path(game)
  .row
    .col-md-6
      #matches-table
        -# Affichage du tableau des matchs
        = render partial: 'mtable'

  .row
    Map :
    %br/
    = image_tag "https://maps.googleapis.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@tournament.latitude}%2C#{@tournament.longitude}&key=AIzaSyB7khglydrnFFiSMwhDwCYX6u6x0_rkL1I"
= link_to "Back to Tournaments List", tournaments_path
