%h3
  = @game.title
- if can? :manage, Game
  = link_to "edit", edit_game_path(@game)
  = link_to "delete", game_path(@game), method: :delete, data: {confirm: "Really delete the game?"}

.container
  .row
    - if @game.image.exists?
      = image_tag @game.image.url
  .row
    = @game.description
  .row
    = @game.genre_string
  .row
    List of tournaments :
    - @game.tournaments.each do |tournament|
      = link_to tournament.name, tournament_path(tournament)
  .row
    %h3 Ratings
    - if @game.ratings.empty?
      Nobody voted yet
    - else 
      #average-result
        = render partial: 'games/rating'

    - if @has_voted == 0 && !current_user.nil?
      = render partial: 'ratings/form'
  

= link_to "Back to Games List", games_path
