%h3
  = @game.title
- if can? :manage, Game
  = link_to "edit", edit_game_path(@game)
  = link_to "delete", game_path(@game), method: :delete, data: {confirm: "Really delete the game?"}

.container
  .row
    - if @game.image.exists?
      = image_tag @game.image.url
  .row
    = @game.description
  .row
    = @game.genre_string
  .row
    List of tournaments :
    - @game.tournaments.each do |tournament|
      = link_to tournament.name, tournament_path(tournament)
  

= link_to "Back to Games List", games_path
